@import url('./__container/comments__container.css');

.comments {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto 102px;
  box-sizing: border-box;
}


@media screen and (max-width: 1184px) {
  .comments {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .comments {
    max-width: 660px;
  }
}

@media screen and (max-width: 720px) {
  .comments {
    padding: 0 16px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 350px) {
  .comments {
    margin-bottom: 64px;
  }
}
