.places {
  max-width: 984px;
  margin: 0 auto 102px;
}

@media screen and (max-width: 1184px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    margin-bottom: 64px;
  }
}
