@import url('./__image/comment__image.css');
@import url('./__quote/comment__quote.css');
@import url('./__author/comment__author.css');


.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 984px) {
  .comment {
    align-items: center;
  }
}
