@import url('./__title/intro__title.css');
@import url('./__content/intro__content.css');
@import url('./__list/intro__list.css');
@import url('./__list-item/intro__list-item.css');
@import url('./__digits/intro__digits.css');

.intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 984px;
  margin: 0 auto 102px;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    padding: 0 24px;
    margin-bottom: 97px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    padding: 0 16px;
    margin-bottom: 64px;
  }
}

