@import url('./__title/intro__title.css');
@import url('./__content/intro__content.css');
@import url('./__text/intro__text.css');
@import url('./__text/_font/intro__text_font_bold.css');
@import url('./__text/_font/intro__text_font_normal.css');

.intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 985px;
  margin: 0 auto 102px;
}


@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 48px 97px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    max-width: 720px;
    margin: 0 auto 97px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    margin-bottom: 64px;
  }
}

