.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 0 auto 78px;
}

@media screen and (max-width: 984px) {
  .lead__subtitle {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 31px;
  }
}
