@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__link/cover__link.css');

.cover {
  max-width: 1184px;
  margin: 0 auto 160px;
  display: flex;
  height: 594px;
}

@media screen and (max-width:1184px) {
  .cover {
    width: 100%;
    height: 500px;
    margin-bottom: 142px;
  }
}

@media screen and (max-width:720px) {
  .cover {
    height: 272px;
    margin-bottom: 64px;
  }
}
