.video__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  width: 100%;
  height: 323px;
  margin: 72px auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
  .video__container {
    gap: 16px;
    height: 288px;
  }
}

@media screen and (max-width: 984px) {
  .video__container {
    height: 200px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 720px) {
  .video__container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 343px;

    gap: 8px;
    height: 408px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 343px) {
  .video__container {
    height: 392px;
  }
}
