.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  color: #FFFFFF;
  text-align: start;
  max-width: 683px;
  margin: 0;
  margin-bottom: 48px;
}

@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
  }
}
